In [43]:
class lin_Regression:

    def __init__(self,m,b):
        self.m = m
        self.b = b
        
    def fit(self,x,y):
        num=0
        deno=0
        
        for i in range(x.shape[0]):
            num = num + (x[i] - x.mean())*(y[i] - y.mean())
            deno = deno + (x[i] - x.mean())*(x[i] - x.mean())

            self.m = num/deno

        self.b = y.mean() - self.m*x.mean()

    def coef(self):
         print(self.m)

    def intercept(self):
         print(self.b)
              
    def predict(self,x):
        print(self.m*x + self.b)

In [7]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv("placement.csv")
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [12]:
df.shape

(200, 2)

In [9]:
x = df.iloc[:,:1];
y = df.iloc[:,1:];

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2, random_state=1)

In [13]:
X_train = X_train.values;
Y_train = Y_train.values;

In [14]:
X_train.shape

(160, 1)

In [47]:
lr = lin_Regression(0,0);
lr.fit(X_train,Y_train);

In [38]:
Y_test

     package
58      3.09
40      4.02
34      3.42
102     1.37
184     3.14
198     3.96
95      2.79
4       3.57
29      3.49
168     3.52
171     3.76
18      2.98
11      2.60
89      2.72
110     3.76
118     2.88
159     4.08
35      2.87
136     2.10
59      3.31
51      3.79
16      2.35
44      1.86
94      2.42
31      3.89
162     2.55
38      4.36
28      2.24
193     1.94
27      2.16
47      3.26
165     4.08
194     3.67
177     3.64
176     3.23
97      2.84
174     2.99
73      4.03
69      2.94
172     2.51

In [50]:
lr.predict(X_test.iloc[2].values)

[3.18258398]

In [35]:
lr.coef()

[0.58154877]

In [36]:
lr.intercept()

[-1.08598396]